@import "bootstrap/scss/bootstrap";
@import'bootstrap-icons/font/bootstrap-icons.css';

.header-hero-wrapper{
    background: url("../images/backg.jpg");
    background-size: cover;
}

.download{
    background: url("../images/backg.jpg"); 
    background-size: cover;
}
.download_image-wrapper{
    margin-top: -8em;
}
